<?xml version="1.0"?>

<launch>
    
    <!--PARAMETERS-->
    <param name="rawlog_play_delay" value="0.01"/>
    <param name="ellipse_scale" value="10"/>
    <param name="ini_filename" value="$(find ekf_slam)/tutorial/kf-slam_demo.ini"/>
    <param name="rawlog_filename" value="$(find ekf_slam)/tutorial/kf-slam_demo.rawlog"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="global_frame_id" value="map"/>
    <param name="base_frame_id" value="base_link"/>
    <!-- for multiple sensors, place comma eg "r1/front_laser/scan,/scan_rear " -->
    <param name="sensor_source" value="landmark"/>
    
    <!-- Setting environment variables -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find ekf_slam)/config/rosconsole.config"/>

    <!--SLAM RUN--> 
    <node pkg="rviz" type="rviz" name="rviz_nav" output="screen" args="-d $(find ekf_slam)/rviz/rviz_conf_ekf.rviz"></node>
    <node pkg="ekf_slam" type="ekf_slam" name="ekf_slam" output="screen"></node>
</launch>
